[submodule "server"]
	path = server
	url = https://github.com/KrOxYs/twitter-sentiment-analysis-server
[submodule "client"]
	path = client
	url = https://github.com/KrOxYs/twitter-sentiment-analysis-client
